<p id="notice"><%= notice %></p>

<div class="medium-7 medium-centered columns">
  <span></span>
  <% @choirs.each do |choir| %>

    <p>Choir Name: <%= link_to choir.choir_name, user_choir_choir_members_path(current_user, choir) %> <span>Take Attendance</span></p>
  <% end %>
</div>


