.choir-attendance-index {
  background-color: #E7E7E7;
  font-family:Verdana, Geneva, sans-serif;
  margin: .5em;
  padding: .3em;
  padding-top: 10px;
  border-radius: 5px;
  color:  #10A7E5;
  height: 3em;
  width: 90%;

}


.choir-attendance-index-header {
  font-weight: bold;
  font-family: cursive;
  color: #FE7040;
}

.attendance-button  {
  background-color: #DDDDDD;
  float: right;
  margin-right: 2em;
  border-radius: 3px;
  box-shadow: 10px 10px 10px 5px #888888;

}



.att-list-button {
  background-color: rgba(59, 174, 22, 0.7);
  margin-right: 2em;
  border-radius:2px;
  height: 30px;
  padding-bottom: 0;
  border: solid thin rgba(59, 174, 22, 0.7);


}

.att-list-button  p {
  padding-bottom: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #FE7040;
}


.att-option-div {
  background-color: #00A97A;
  color: #0F664D  !important;
  padding: 5px;
  margin: 3px;
  border-radius: 10px;
  width: 70px;
}

.att-option-div-late {
  background-color: #D4B694;
  color: #6F5639  !important;
  padding: 5px;
  margin: 3px;
  border-radius: 10px;
  width: 70px;
}


.att-option-div-absent {
  background-color: #D54A44;
  color: #90332D !important;
  padding: 5px;
  margin: 3px;
  border-radius: 10px;
  width: 70px;
}

.hidden {
  display: none;
}





.up-arrow {
  width: 50%;
  border-radius: 10px;
  position: relative;
  background: #10998F;
  color: #FFF;
  text-decoration: none;
  padding: 20px;
}

.up-arrow:after {
  content: '';
  display: block;  
  position: absolute;
  left: 20px;
  bottom: 100%;
  width: 0;
  height: 0;
  border-bottom: 10px solid #10998F;
  border-top: 10px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}




#absent {
  color: #D54A44;
}


#full-points {
  color: #00A97A;
}

#late {
  color:#D4B694 ;
}




