.choir-attendance-index {
  background-color: #E7E7E7;
  font-family:Verdana, Geneva, sans-serif;
  margin: .5em;
  padding: .3em;
  padding-top: 10px;
  border-radius: 5px;
  color:  #10A7E5;
  height: 3em;
  width: 100%;

}


.choir-attendance-index-header {
  text-align: center;
  font-weight: bold;
  font-family: cursive;
  color: #FE7040;
}

.attendance-button  {
  background-color: #DDDDDD;
  margin-right: 2em;
  border-radius: 3px;
  box-shadow: 10px 10px 10px 5px #888888;

}



.att-list-button {
  background-color: rgba(59, 174, 22, 0.7);
  margin-right: 2em;
  border-radius:2px;
  height: 30px;
  padding-bottom: 0;
  border: solid thin rgba(59, 174, 22, 0.7);


}

.att-list-button  p {
  padding-bottom: 0;
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  color: #FE7040;
}


.att-option-div {
  background-color: #00A97A;
  color: #0F664D  !important;
  padding: 5px;
  margin: 3px;
  border-radius: 10px;
  /*width: 30px;*/
  float: right;
  margin-top: -8px;
}

.att-option-div-late {
  background-color: #D4B694;
  color: #6F5639  !important;
  padding: 5px;
  margin: 3px;
  border-radius: 10px;
  /*width: 30px;*/
  float: right;
  margin-top: -8px;
}


.att-option-div-absent {
  background-color: #D54A44;
  color: #90332D !important;
  padding: 5px;
  margin: 3px;
  border-radius: 10px;
  /*width: 30px;*/
  float: right;
  margin-top: -8px;
}



