.choir-member-index {
  background-color: #E7E7E7;
  font-family:Verdana, Geneva, sans-serif;
  margin: .5em;
  padding: .3em;
  text-align: center;
  border-radius: 5px;
  color:  #10A7E5;
  height: 2em;
  width: 90%
}

.choir-member-index-header {
  font-weight: bold;
  font-family: cursive;
  color: #FE7040;
}