<p id="notice"><%= notice %></p>

<div class="large-6 large-centered columns">
  <div class="row" >
    <h2 class="choir-member-index-header">Members</h2>
    <% @choir_members.each do |choir_member| %>
      <div class="row">
        <div class="small-9  choir-member-index ">
          <%= choir_member.first_name %> <%= choir_member.last_name %> | <%= choir_member.voice %>
        </div>
      </div>
    <% end %>
  </div>
</div>

